* {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    outline: none;
    background-color: none;

}
button{
    border:none;
    background-color: transparent;
}

html {
    height: 100%;
}