$color:#fff;
// 主色调
$TDL_H_Primary: #2775fd;
$TDL_H_Drak: #2e86e3;
$TDL_H_Disabled: #9ccbfa;
$TDL_H_Light: #e5eff9;

//Success
$TDL_S_Success:#19b26b;
$TDL_S_Success:#40b57e;
$TDL_S_Success:#6bffb7;
$TDL_S_Success:#83b9a1;

// Error
$TDL_E_Error: #f93333;
$TDL_E_Drak: #f55e5e;
$TDL_E_Disabled: #fa9696;
$TDL_E_Light: #fad0d0;

//Warning
$TDL_W_Warning: #f99601;
$TDL_W_Drak: #efa537;
$TDL_W_Disabled: #f4bb64;
$TDL_W_Light: #fee3ba;

// 文字颜色 
$TDL_T_Text: #303030;
$TDL_T_Drak: #4e4c4c;
$TDL_T_Disabled: #767575;
$TDL_T_Light: #878787;
 
//info
$TDL_I_Info: #90949a;
$TDL_I_Drak: #82858b;
$TDL_I_Disabled: #c5ccda;
$TDL_I_Light: #f2f4f9;

// border
$TDL_B_Border: #d8dce3;
$TDL_B_Drak: #e4ecf9;
$TDL_B_Disabled: #ebf0f9;
$TDL_B_Light: #f2f6fb;

//背景色  
$TDL_B_Default:#fff;
$TDL_B_LightGray:#f7f8fb; 
